{% extends "invoice/layout.html" %}

{% block content %}
<div class="global-container">
    <div class="card login-form">
    <div class="card-body">
        <h3 class="card-title text-center text-success"> Tu registro de usuario se activo de forma exitosa </h3>
        <div class="card-text text-center">
            Porfavor incia sesion para continuar 
            

           
        </div>

        <div class="card-text text-center" style="font-size: 2em;">
            ✅

           
        </div>
    </div>
</div>
</div>


{% endblock %}
