{% extends "invoice/layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <style>
        .error {
            color: red;  /* Color rojo para los mensajes de error */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <form method="post" class="bg-light p-4">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_password">Nueva contraseña:</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class="error">
                                {{ form.password.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="id_password2">Confirmar contraseña:</label>
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="error">
                                {{ form.password2.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}
