{% extends "invoice/layout.html" %}

{% block content %}
<style>
.custom-light {
    background-color: #ebeaea;
}

.jumbotron {
    margin-top: 20px;
}

.col-md-3 {
    background-color: #ebeaea;
    margin: 6px;
}



</style>
{% if request.user.is_authenticated %}
    {% if perfil_fiscal_user == None or perfil_fiscal_user.estado_firma == "false" %}
    <div class="container mt-5">
        <div class="step-container">
        
            <!-- Wizard Steps -->
            <ul class="wizard-steps">
                <!-- Paso 1 -->
                <li class="{% if perfil_fiscal_user == None %}current{% else %}completed{% endif %}">
                    <h5>Paso 1</h5>
                    <span>Llene su perfil fiscal</span>
                </li>

                <!-- Paso 2 -->
                <li class="{% if perfil_fiscal_user and perfil_fiscal_user.estado_firma == 'false' %}current{% else %}{% if perfil_fiscal_user %}completed{% endif %}{% endif %}">
                    <h5>Paso 2</h5>
                    <span>Firme el contrato</span>
                </li>
                
                <li>
                    <h5>Paso 3</h5>
                    <span>Perfil completado</span>
                </li>
                {% comment %} <!-- Paso 3 -->
                <li class="{% if perfil_fiscal_user and perfil_fiscal_user.estado_firma == 'true' %}current{% endif %}">
                    <h5>Paso 3</h5>
                    <span>Seleccionar Fecha</span>
                </li>

                <!-- Paso 4 -->
                <li>
                    <h5>Paso 4</h5>
                    <span>Agendar</span>
                </li> {% endcomment %}
                
            </ul>
        </div>
    </div>
    {% endif %}


    <!-- Mensajes condicionales -->
    <div class="container mt-4">
        {% if perfil_fiscal_user == None %}   
        <div class="alert alert-warning d-flex align-items-center p-3" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-3 fs-4"></i> <!-- Icono de advertencia más grande -->
            <div class="flex-grow-1">
                <p class="mb-0"> <!-- Eliminamos márgenes con mb-0 -->
                    <strong>Atención:</strong> Para acceder a todas las funciones de invoice, es necesario registrar su perfil fiscal.
                    <br>
                    <span class="text-muted">Complete su perfil haciendo clic en el botón a continuación.</span>
                </p>
            </div>
            <a href="{% url 'invoice:perfilpreferencias' %}" class="btn btn-primary ms-3">
                <i class="fas fa-user-cog"></i> Completar perfil fiscal
            </a>
        </div>
        
        
        {% else %}
            {% if perfil_fiscal_user.estado_firma == "false" %}
            <div class="alert alert-warning d-flex align-items-center p-3" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-3 fs-4"></i> <!-- Icono de advertencia más grande -->
                <div class="flex-grow-1">
                    <p class="mb-0"> <!-- Eliminamos márgenes con mb-0 -->
                        <strong>Atención:</strong> Para completar su perfil realice la firma del contrato.
                        <br>
                        <span class="text-muted">Firme su contrato haciendo clic en el botón a continuación.</span>
                    </p>
                </div>
                <a href="{{ url_sign_manifest }}" class="btn btn-primary ms-3">
                    <i class="fas fa-user-cog"></i> Contrato
                </a>
                
            </div>
            {% endif %}
        {% endif %}
      </div>
{% endif %}
<div class="container">
    <div class="jumbotron custom-light-gray">
        <h1 class="display-4">Invoice stamping</h1>
        <p class="lead">proceso de certificación o sellado de una factura por una autoridad fiscal o gubernamental</p>
        <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-lg">Informacion &raquo;</a></p>
    </div>
</div>


{% endblock %}