{% if user.is_created %}
<form id="logoutForm" action="{% url 'invoice:cerrarsesion' %}" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Registro completado, bienvenido {{ user.username }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'invoice:registrarse' %}" style="color: white;">Registrarse</a></li>
</ul>

{% endif %}
