{% extends "invoice/layout.html" %}

{% block content %}
<div class="global-container d-flex justify-content-center align-items-center">
    <div class="card login-form">
        <div class="card-body text-center">
            <h3 class="card-title text-danger">Tu reseteo de contraseña fue cancelada</h3>
            <p class="card-text">Por favor intentalo mas tarde o solicita un link de reseteo nuevo</p>
            <p class="card-text" style="font-size: 2em;">⚠️</p>
        </div>
    </div>
</div>
{% endblock %}
