<div class="formulario-addenda-siemens mb-4 border rounded p-3">
    <h4>SIEMENS GAMESA</h4>
    <div class="row">
      <div class="col-md-4 mb-3">
        <label class="form-label">Tipo de documento</label>
        {{ form.tipodocumento }}
      </div>
      <div class="col-md-4 mb-3">
        <label class="form-label">Número de orden</label>
        {{ form.numero_orden }}
      </div>
  
      <div class="col-md-4 mb-3">
        <label class="form-label">Nota de entrega</label>
        {{ form.nota_entrega }}
      </div>
    </div>  
    {# Si tienes campos ocultos o errores no ligados a campos #}
    {{ form.non_field_errors }}
    {{ form.media }}
</div>
  