<div class="formulario-addenda-siemens mb-4 border rounded p-3">
    <h4>Grupo ADO</h4>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">Tipo de Addenda</label>
        {{ form.tipo_addenda }}
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">Pedido</label>
        {{ form.pedido }}
      </div>
    </div>  
    {# Si tienes campos ocultos o errores no ligados a campos #}
    {{ form.non_field_errors }}
    {{ form.media }}
</div>