<!-- concepto_complementoconcepto_form.html -->
<div class="formulario-complementoconcepto mb-4 border rounded p-3">
  <h4>Complemento de Concepto</h4>

  {{ formset.management_form }}

  <div id="complementoconcepto-formset-container">
    {% for form in formset %}
      <div class="formulario-complementoconcepto-item border rounded p-3 mb-3 position-relative" data-form-index="{{ forloop.counter0 }}">
        <div class="row">
          <div class="col-md-6 mb-2">
            <label>Complemento</label>
            {{ form.complementoConcepto }}
          </div>
        </div>

        <div class="d-none">
          {{ form.id }} 
          {% if form.instance.pk %}
              {{ form.DELETE }}
          {% endif %}
        </div>

        {% if not forloop.first %}
          <button type="button" class="btn btn-sm btn-danger btn-delete-formulario" style="position:absolute; top:0.5rem; right:0.5rem;">
            <i class="fas fa-trash-alt"></i>
          </button>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="text-end">
    <button type="button" class="btn btn-sm btn-success btn-agregar-formulario" data-target="#complementoconcepto-formset-container">
      <i class="fas fa-plus"></i> Agregar Complemento
    </button>
  </div>
</div>
