<!-- concepto_parte_form.html -->
<div class="formulario-parte mb-4 border rounded p-3  position-relative">
  <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 btn-eliminar-complemento" title="Eliminar complemento">
    <i class="fas fa-trash-alt"></i> <!-- Usa el ícono que prefieras -->
  </button>
  <h4>Partes</h4>

  {{ formset.management_form }}

  <div id="parte-formset-container">
    {% for form in formset %}
      <div class="formulario-parte-item border rounded p-3 mb-3 position-relative" data-form-index="{{ forloop.counter0 }}">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-3" height="100%">
            <label>Clave ProdServ</label>
            {{ form.claveProdServ }}
          </div>
          {% comment %} <div class="col-md-3 mb-2">
            <label>No. Identificación</label>
            {{ form.noIdentificacion }}
          </div> {% endcomment %}
          {% comment %} <div class="col-md-2 mb-2">
            <label>Cantidad</label>
            {{ form.cantidad }}
          </div> {% endcomment %}
          <div class="col-md-2 col-sm-2 col-xs-3">
            <label>Unidad</label>
            {{ form.unidad }}
          </div>
          <div class="col-md-2 col-sm-2 col-xs-3">
            <label>Descripción</label>
            {{ form.descripcion }}
          </div>
          <div class="col-md-2 col-sm-2 col-xs-3">
            <label>Valor Unitario</label>
            {{ form.valorUnitario }}
          </div>
          <div class="col-md-2 col-sm-2 col-xs-3">
            <label>Importe</label>
            {{ form.importe }}
          </div>
          {% comment %} <div class="col-md-3 mb-2">
            <label>Información Aduanera</label>
            {{ form.informacionAduanera }}
          </div> {% endcomment %}
        </div>

        <div class="d-none">
          {{ form.id }} 
          {% if form.instance.pk %}
              {{ form.DELETE }}
          {% endif %}
        </div>

        
        <button type="button" class="btn btn-sm btn-danger btn-delete-parte" style="position:absolute; top:0.5rem; right:0.5rem;">
          <i class="fas fa-trash-alt"></i>
        </button>

      </div>
    {% endfor %}
  </div>

  <div class="text-end">
    <button type="button" class="btn btn-sm btn-success" id="btn-agregar-parte">
      <i class="fas fa-plus"></i> Agregar Parte
    </button>
  </div>
</div>
