<!-- concepto_cuentapredial_form.html -->
<div class="formulario-cuentapredial mb-4 border rounded p-3  position-relative">
  <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2 btn-eliminar-complemento" title="Eliminar complemento">
    <i class="fas fa-trash-alt"></i> <!-- Usa el ícono que prefieras -->
  </button>
  <h4>Cuenta Predial</h4>

  {{ formset.management_form }}

  <div id="cuentapredial-formset-container">
    {% for form in formset %}
      <div class="formulario-cuentapredial-item border rounded p-3 mb-3 position-relative" data-form-index="{{ forloop.counter0 }}">
        <div class="row">
          <div class="col-md-4 mb-2">
            <label>Número</label>
            {{ form.numero }}
          </div>
        </div>

        <div class="d-none">
          {{ form.id }} 
          {% if form.instance.pk %}
              {{ form.DELETE }}
          {% endif %}
        </div>

        
        <button type="button" class="btn btn-sm btn-danger btn-delete-formulario" style="position:absolute; top:0.5rem; right:0.5rem;">
          <i class="fas fa-trash-alt"></i>
        </button>
        
      </div>
    {% endfor %}
  </div>
  <div class="text-end">
    <button type="button" class="btn btn-sm btn-success" id="btn-agregar-cuentapredial">
      <i class="fas fa-plus"></i> Agregar Cuenta Predial
    </button>
  </div>

</div>
