
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2024 <a href="https://factupid.com/">Factupid Solutions</a>.</strong> All rights reserved.
    <div>
      <a href="{% url 'invoice:Terminos' %}" target="_blank">Términos y Condiciones</a> | 
      <a href="{% url 'invoice:Politicas' %}" target="_blank">Políticas de Privacidad</a>
  </div>
  </footer>
</div>
<!-- ./wrapper -->