{% extends 'body.html' %}
{% load widget_tweaks %}

{% block content %}

<div>
    {% load invoice_breadcrumbs %}
    {% block invoice_breadcrumbs %}
        {% breadcrumb_url "Inicio" "invoice:inicio" %}
        {% breadcrumb_url "Catálogo de Clientes" "invoice:client_list" %}
        {% breadcrumb "registro de cliente" %}
       
       
    {% endblock %}
</div>

<br>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="moral-tab" data-bs-toggle="tab" href="#moral" role="tab" aria-controls="moral" aria-selected="true">Persona Moral</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="fisica-tab" data-bs-toggle="tab" href="#fisica" role="tab" aria-controls="fisica" aria-selected="false">Persona Física</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="extranjero-tab" data-bs-toggle="tab" href="#extranjero" role="tab" aria-controls="extranjero" aria-selected="false">Extranjero</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="moral" role="tabpanel" aria-labelledby="moral-tab">
        <form method="post" enctype="multipart/form-data" action="."  class="needs-validation" novalidate>
         <input type="hidden" name="submit_type" value="">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-plus"></i>
                        {{ title }}
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action }}">
                    {{ moral_form.tipoReceptor }}
                    {{ moral_form.errors }}
                    <div class="container">
                        <div class="row">
                            {% for field in moral_form.visible_fields %}
                                <div class="form-group col-md-6">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" name="moral_submit" class="btn btn-primary btn-flat">
                        <i class="fas fa-save"></i> Guardar registro
                    </button>
                    <a href="{{ list_url }}" class="btn btn-primary btn-flat">
                        <i class="fas fa-times"></i> Cancelar
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="fisica" role="tabpanel" aria-labelledby="fisica-tab">
         <form method="post" enctype="multipart/form-data" action="."  class="needs-validation" novalidate>
          <input type="hidden" name="submit_type" value="">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-plus"></i>
                        {{ title }}
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action }}">
                    {{ fisica_form.tipoReceptor }}
                    {{ fisica_form.errors }}
                    <div class="container">
                        <div class="row">
                            {% for field in fisica_form.visible_fields %}
                                <div class="form-group col-md-6">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" name="fisica_submit" class="btn btn-primary btn-flat">
                        <i class="fas fa-save"></i> Guardar registro
                    </button>
                    <a href="{{ list_url }}" class="btn btn-primary btn-flat">
                        <i class="fas fa-times"></i> Cancelar
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="extranjero" role="tabpanel" aria-labelledby="extranjero-tab">
         <form method="post" enctype="multipart/form-data" action="." class="needs-validation" novalidate>
          <input type="hidden" name="submit_type" value="">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-plus"></i>
                        {{ title }}
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action }}">
                    {{ extranjero_form.tipoReceptor }}
                    {{ extranjero_form.errors }}
                    <div class="container">
                        <div class="row">
                            {% for field in extranjero_form.visible_fields %}
                                <div class="form-group col-md-6">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" name="extranjero_submit" class="btn btn-primary btn-flat">
                        <i class="fas fa-save"></i> Guardar registro
                    </button>
                    <a href="{{ list_url }}" name="extranjero_submit" class="btn btn-primary btn-flat">
                        <i class="fas fa-times"></i> Cancelar
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var tabButtons = document.querySelectorAll('.nav-link');
    tabButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var selectedTab = this.getAttribute('href').substring(1); // 'moral', 'fisica', 'extranjero'
            var forms = document.querySelectorAll('form');
            forms.forEach(function (form) {
                var tipoReceptorInput = form.querySelector('input[name="tipoReceptor"]');
                if (tipoReceptorInput) {
                    tipoReceptorInput.value = selectedTab;
                }
            });
        });
    });
});

// Captura el clic en los botones de envío y establece el tipo de envío
$('form').on('click', 'button[type="submit"]', function() {
    var submitType = $(this).attr('name');
    $(this).closest('form').find('input[name="submit_type"]').val(submitType);
});

$('form').on('submit', function (e) {
    e.preventDefault();
    cargando();
    var formData = new FormData(this);
    $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        dataType: 'json'
    }).done(function (data) {
        if (!data.hasOwnProperty('error')) {
            window.location.href = '{{ list_url }}';
        } else {
            message_error(data.error);
        }
    }).fail(function (jqXHR, textStatus, errorThrown) {
        alert(textStatus + ': ' + errorThrown);
    });
});

</script>
{% endblock %}