{% extends 'body.html' %}
{% load widget_tweaks %}

{% block content %}



<form method="post" enctype="multipart/form-data" action="."  class="needs-validation" novalidate>
            {% block custom_message %}

            <div>
                {% load invoice_breadcrumbs %}
                {% block invoice_breadcrumbs %}
                    {% breadcrumb_url "Inicio" "invoice:inicio" %}
                    {% breadcrumb_url "Tokens de acceso" "invoice:list_token" %}
                    {% breadcrumb "Crear token" %}
                   
                   
                {% endblock %}
            </div>
            
            <br>
                <!-- Este bloque puede ser sobrescrito en las plantillas que extiendan esta -->
            {% endblock custom_message %}
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-plus"></i>
                        {{ title }}
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action }}">
                    {{ token_form.errors }}
                    <div class="container">
                        <div class="row">
                            {% for field in token_form.visible_fields %}
                                <div class="form-group col-md-6">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" name="" class="btn btn-primary btn-flat">
                        <i class="fas fa-save"></i> Guardar registro
                    </button>
                    <a href="{{ list_url }}" class="btn btn-primary btn-flat">
                        <i class="fas fa-times"></i> Cancelar
                    </a>
                </div>
            </div>
        </form>

<script>

$('form').on('submit', function (e) {
    e.preventDefault();
    cargando()
    var formData = new FormData(this);
    $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: formData,
        processData: false,  // Tell jQuery not to process the data
        contentType: false,  // Tell jQuery not to set contentType
        dataType: 'json'
    }).done(function (data) {
        console.log(!data.hasOwnProperty('error'))
        if (!data.hasOwnProperty('error')) {
            copytoken(data.token, '{{ list_url }}')
            return false;
        }
        message_error(data.error)
    }).fail(function (jqXHR, textStatus, errorThrown) {
        alert(textStatus + ': ' + errorThrown)
    }).always(function (data) {

    });
});


</script>
{% endblock %}