{% extends "LadoClientes/pages/base.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/forms.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="{% static 'librerias/bootstrap/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'librerias/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'librerias/grapesjs/grapes.min.css' %}" />
    <link rel="stylesheet" href="{% static 'librerias/styles.css' %}">
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="page-header-title">
                    <h5 class="m-b-10">{{ opts.verbose_name_plural|capfirst }}</h5>
                  </div>
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="javascript:">{{ opts.app_config.verbose_name }}</a></li>
                    <li class="breadcrumb-item"><a href="javascript:">{{ opts.verbose_name_plural|capfirst }}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    {% endblock %}
{% endif %}

{% block content %}
<body>
    <div class="container-father">
      
      <div class="editor-row"> 
        <div class="accordion" id="element">
          <div class="plantilla-container accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-target="#plantilla-collapse">
                <i class="bi bi-easel2-fill me-2"></i> Seleccionar plantilla de impresión
              </button>
            </h4>
            <div id="plantilla-collapse" class="accordion-collapse collapse scrollable-content">
              <div class="accordion-body" style="background-color:#444444;">
                <form id="SeleccionarPlantilla" action="elegir_plantilla/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="seleccionartPlantilla" class="form-label">Selecciona una plantilla:</label>
                    <div class="input-group input-group-sm align-items-center">
                      <select id="selectPlantilla" class="form-select form-select-sm">
                        <option value="" disabled selected>seleccione una plantilla</option>
                      </select>
                      <button id="btnSeleccionarPlantilla" type="button" class="btn btn-primary" style="margin: 0px;" title="seleccionar plantilla" aria-label="seleccionar plantilla">
                            <i class="bi bi-check2-square"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="styles-container accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-target="#styles-collapse">
                <i class="bi bi-palette me-2"></i> Estilos
              </button>
            </h4>
            <div id="styles-collapse" class="accordion-collapse collapse scrollable-content">
              <div class="form-check" style="background-color:#444444;">
                <input class="form-check-input" type="checkbox" value="" id="checkIndeterminate">
                <label class="form-check-label" for="checkIndeterminate" style="color:white;">
                  Estilos globales
                </label>
              </div>
                
            </div>
          </div>
          <div class="imagen-container accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-target="#imagen-collapse">
                <i class="bi bi-image me-2"></i> Imagenes
              </button>
            </h4>
            <div id="imagen-collapse" class="accordion-collapse collapse scrollable-content">
              <div class="accordion-body" style="background-color:#444444;">
                <form id="formImagen" action="subir_imagen/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="imagenInput" class="form-label">Selecciona una imagen:</label>
                    
                    <div class="input-group input-group-sm align-items-center">
                      <input type="file" class="form-control" id="imagenInput" name="imagen" accept="image/*" aria-label="Subir imagen">
                      <button type="button" class="btn btn-outline-danger" style="margin: 0px;" id="cancelarImagen" title="Cancelar imagen" aria-label="Cancelar imagen">
                        <i class="bi bi-x-circle"></i>
                      </button>
                      <button type="submit"  style="margin: 0px;" class="btn btn-primary me-2">
                        <i class="bi bi-cloud-upload"></i>
                      </button>
                    </div>
                  </div>
                </form>  
              </div>                               
            </div>
          </div>
        
          <div id="blocks" class="accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-target="#blocks-collapse">
                <i class="bi bi-grid me-2"></i> Elementos
              </button>
            </h4>
            <div id="blocks-collapse" class="accordion-collapse collapse show scrollable-content">
            </div>
          </div>
        </div>
          
          
          <div class="editor-canvas">
            <div class="encabezado">
                  <h4 class="text-white" style="margin: 5px 10px 0px 10px;"> Tipo de CFDI:</h4>
                  <select id="modeloSelect" class="form-select" aria-label="Tipo de CFDI" style="margin: 5px 10px 5px 10px; width: 50%;" onchange="handleModeloSelect()">
                    <option value="0" selected>Seleccione una plantilla</option>
                  </select>
                  <div class="d-flex justify-content-between">
                    <form method="POST" onsubmit="savePlantilla(event)">
                        {% csrf_token %}
                        <button id="save" class="btn btn btn-primary align-items-end" type="submit" name="action" value="save" title="Guardar"><i class="bi bi-save"></i></button>
                        <button id="saveas" class="btn btn-info" type="submit" name="action" value="saveas" title="Guardar cómo"><i class="bi bi-save-fill"></i></button>
                        <button id="delete" class="btn btn-danger" type="submit" name="action" value="delete" title="Eliminar contenido"><i class="bi bi-trash"></i></button>
                        <button id="erase" class="btn btn-dark text-white fw-bold" type="submit" name="action" value="erase" title="Eliminar Plantilla"><i class="bi bi-trash-fill"></i></button>
                    </form>
                </div>
              </div>
              <div class="contenedor ">
                <!-- contenedor de alertas -->
                <div id="alertContainer"></div>
                <div id="gjs">
                 
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <footer class="main-footer">
  
    </footer>
  
  <!-- Modal para crear un nuevo modelo -->
  <div class="modal fade" id="NuevaPlantilla" tabindex="-1" aria-labelledby="nuevoModeloLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nuevoModeloLabel">Crear nuevo CFDI</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <label for="nuevoModeloNombre" class="form-label">Nombre del nuevo CFDI:</label>
          <input type="text" class="form-control" id="nuevoCFDI" placeholder="Nombre del CFDI">
          <label for="usuarioCFDI" class="form-label">Selecciona un usuario CFDI:</label>
          <select class="form-select" id="usuarioCFDI">
            <option value="" disabled selected>Cargando usuarios...</option>
          </select>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" onclick="GuardarPlantilla()">Crear</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal para Guardar un modelo en otro CFDI nuevo-->
  <div class="modal fade" id="GuardarComo" tabindex="-1" aria-labelledby="nuevoModeloLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nuevoModeloLabel">Guardar como</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <label for="nuevoModeloNombre" class="form-label">Nombre del nuevo CFDI:</label>
          <input type="text" class="form-control" id="guardarCFDI" placeholder="Ingrese el nombre del CFDI">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" onclick="GuardarPlantillaComo(event)">Guardar como</button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
{% block extra_js %}
<script src="{% static 'librerias/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'librerias/grapesjs/grapes.min.js' %}"></script>

    <script src="{% static 'librerias/editor.js' %}"></script>
    <script>var pageId = {% if page and page.id %} {{ page.id }} {% else %} null {% endif %};</script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.accordion-button');
    
        buttons.forEach(button => {
          const targetId = button.getAttribute('data-bs-target');
          const target = document.querySelector(targetId);
    
          const collapse = bootstrap.Collapse.getOrCreateInstance(target, { toggle: false });
    
          button.addEventListener('click', function () {
            const isOpen = target.classList.contains('show');
    
            // Cierra si ya está abierto
            if (isOpen) {
              collapse.hide();
              button.classList.add('collapsed');
            } else {
              // Cierra todos los demás
              document.querySelectorAll('.accordion-collapse.show').forEach(openItem => {
                if (openItem !== target) {
                  bootstrap.Collapse.getOrCreateInstance(openItem, { toggle: false }).hide();
                  // Marca como collapsed su botón también
                  const relatedButton = document.querySelector(`[data-bs-target="#${openItem.id}"]`);
                  if (relatedButton) relatedButton.classList.add('collapsed');
                }
              });
    
              collapse.show();
              button.classList.remove('collapsed');
            }
          });
    
          // Opcional: actualizar clase cuando termina la animación
          target.addEventListener('shown.bs.collapse', () => {
            button.classList.remove('collapsed');
          });
    
          target.addEventListener('hidden.bs.collapse', () => {
            button.classList.add('collapsed');
          });
        });
        const cancelarBtn = document.getElementById("cancelarImagen");
        const imagenInput = document.getElementById("imagenInput");

        cancelarBtn.addEventListener("click", function () {
          imagenInput.value = ""; // Esto limpia el input
        });
      });
      document.getElementById("formImagen").addEventListener("submit", function(e) {
        e.preventDefault();
        const form = e.target;
        const fileInput = document.getElementById("imagenInput");
        const file = fileInput.files[0];
        let modeloId = document.getElementById("modeloSelect").value;
      
        if (!modeloId || modeloId === "0") {
          showAlert("warning", "Debes seleccionar un CFDI antes de hacer algo.");
          return;
        }else{
          if (!file) {
            alert("Selecciona una imagen primero.");
            return;
          }
          let mensajeConfirmacion;

          if (imagen == null || imagen == "") {
            mensajeConfirmacion = "Solo puedes subir una imagen. ¿Quieres subirla?";
          } else {
            mensajeConfirmacion = "Ya cuentas con una imagen. ¿Quieres reemplazarla?";
          }

          if (!confirm(mensajeConfirmacion)) {
            return;
          }
          const formData = new FormData();
          console.log(modeloId);
          formData.append("imagen", file);
          formData.append('modelo', modeloId);
        
          const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
          const request = new Request(
          'subir_imagen/',
            {
                method: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
                body: formData
            }
          );
          fetch(request).then(res => res.json())
          .then(data => {
            if (data.url) {
              // Agregar la imagen al editor
              imagen = data.url;
              editor.addComponents(`<img src="${data.url}" class="imagen-subida" style="width: 147px; height: 110px;" />`);
              editor.BlockManager.add('imagen-subida', {
                label: 'Imagen subida',
                category: {label: 'Imagen'},
                attributes: { class: 'imagen-subida' },
                select: true,
                content: `
                  <img 
                    src="${data.url}"
                    class="imagen-subida" 
                    alt="Logo" 
                    style="border: 1px solid black; width: 147px; height: 110px;" 
                  />
                `,
              });
              alert("Imagen subida correctamente");
            } else {
              alert("Error al subir imagen");
            }
          })
          .catch(err => {
            console.error(err);
            alert("Ocurrió un error al subir la imagen");
          });
        }
      });
      document.getElementById('checkIndeterminate').addEventListener('change', function () {
        const isChecked = this.checked;
        const valor = !isChecked;
        editor.SelectorManager.getConfig().componentFirst = valor;
        const selected = editor.getSelected();
        if (selected) {
          editor.select(null);      
          editor.select(selected);
        }
      });
      
    </script> 
      
{% endblock extra_js %} 
