{% extends "LadoClientes/pages/base.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% static "assets/css/forms.css" %}">
    {% endif %}
    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {
                width: inherit
            }
        </style>
    {% endif %}
 
    <link rel="stylesheet" type="text/css" href="{% static 'cfdi/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <!-- CSS para DataTables Responsive -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
{% endblock %}



{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="page-header-title">
                    <h5 class="m-b-10">{{ cl.opts.verbose_name_plural|capfirst }}</h5>
                  </div>
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="javascript:">{{ cl.opts.app_config.verbose_name }}</a></li>
                    <li class="breadcrumb-item"><a href="javascript:">{{ cl.opts.verbose_name_plural|capfirst }}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    {% endblock %}
{% endif %}

{% block content %}
<div class="container-fluid py-2">
    <div class="table-settings my-3">
        <div class="row align-items-center justify-content-between">
            <div class="col col-md-8 col-lg-3 col-xl-12">
                {% block search %}
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa icon-invoice-b"></i>Búsqueda 
                        </div>
                        <div class="actions">
                            <a class="btn btn-warning btn-sm" href="javascript:;" title="Mostrar información">
                                <i class="fa fa-info"></i>
                            </a>
                            <a class="btn btn-info btn-sm" href="javascript:;" title="Ayuda">
                                <i class="fa fa-question"></i>
                            </a>
                            <a class="btn btn-default btn-sm btn-reset-filtro" href="" id="btn-reset-filtro" title="Limpiar">
                                <i class="fa fa-eraser"></i> Limpiar
                            </a>
                            <button class="btn btn-primary btn-md btn-buscar-filtro" id="btn-buscar-filtro" title="Buscar">
                                <i class="fa fa-search"></i> Buscar
                            </button>
                        </div>
                        <div class="tools">
                            <a class="collapse-btn" data-bs-toggle="collapse" href="#contenidoColapsable" role="button" aria-expanded="false">
                                <i class="bi bi-chevron-down"></i> 
                            </a>
                        </div>
                    </div>
                    
                    <div class="collapse show p-3" id="contenidoColapsable">
                        <div class="row g-3">
                            <div class="col-md-2 col-sm-4">
                                <div class="form-group">
                                    <label>RFC</label>
                                    <input type="text" placeholder="Rfc" class="form-control" id="filtro_receptor_rfc">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-8">
                                <div class="form-group">
                                    <label>Nombre / Razón social</label>
                                    <input type="text" placeholder="Nombre / Razón social" class="form-control" id="filtro_receptor_nombre">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <label>Fecha de emisión</label>
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control" id="filtro_fecha_desde" placeholder="Desde" aria-label="Desde">
                                    <div class="input-group-text">a</div> 
                                    <input type="date" class="form-control" id="filtro_fecha_hasta" placeholder="Hasta" aria-label="Hasta">
                                </div>
                            </div>                            
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label>Forma de pago</label>
                                    <select id="filtro_metodo_pago_id" class="form-control">
                                        <option value="">------</option>
                                        
                                        <option value="Paypal"> - Paypal</option>
                                        
                                        <option value="OXXO"> - OXXO</option>
                                        
                                        <option value="Efectivo">01 - Efectivo</option>
                                        
                                        <option value="Cheque nominativo">02 - Cheque nominativo</option>
                                        
                                        <option value="Transferencia electrónica de fondos">03 - Transferencia electrónica de fondos</option>
                                        
                                        <option value="Tarjeta de crédito">04 - Tarjeta de crédito</option>
                                        
                                        <option value="Monedero electrónico">05 - Monedero electrónico</option>
                                        
                                        <option value="Dinero electrónico">06 - Dinero electrónico</option>
                                        
                                        <option value="Vales de despensa">08 - Vales de despensa</option>
                                        
                                        <option value="Dación en pago">12 - Dación en pago</option>
                                        
                                        <option value="Pago por subrogación">13 - Pago por subrogación</option>
                                        
                                        <option value="Pago por consignación">14 - Pago por consignación</option>
                                        
                                        <option value="Condonación">15 - Condonación</option>
                                        
                                        <option value="Compensación">17 - Compensación</option>
                                        
                                        <option value="Novación">23 - Novación</option>
                                        
                                        <option value="Confusión">24 - Confusión</option>
                                        
                                        <option value="Remisión de deuda">25 - Remisión de deuda</option>
                                        
                                        <option value="Prescripción o caducidad">26 - Prescripción o caducidad</option>
                                        
                                        <option value="A satisfacción del acreedor">27 - A satisfacción del acreedor</option>
                                        
                                        <option value="Tarjeta de débito">28 - Tarjeta de débito</option>
                                        
                                        <option value="Tarjetas de servicio">29 - Tarjetas de servicio</option>
                                        
                                        <option value="Aplicación de anticipos4">30 - Aplicación de anticipos</option>
                                        
                                        <option value="Intermediario pagos">31 - Intermediario pagos</option>
                                        
                                        <option value="Por definir">99 - Por definir</option>
                                        
                                        <option value="No identificado">NA - No identificado</option>
                                        
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-xs-6">
                                <div class="form-group">
                                    <label>Serie</label>
                                    <input type="text" placeholder="Serie fiscal" class="form-control" id="filtro_serie">
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-6">
                                <div class="form-group">
                                    <label>Folio</label>
                                    <input type="text" placeholder="Folio" class="form-control" id="filtro_folio">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>UUID</label>
                                    <input type="text" placeholder="UUID" class="form-control" id="filtro_uuid">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Comprobante</label>
                                    <select id="filtro_tipo_comprobante_fiscal_id" class="form-control">
                                        <option value="">------</option>
                                        
                                        <option value="Factura electrónica">Factura electrónica</option>
                                        
                                        <option value="Recibo de honorarios">Recibo de honorarios</option>
                                        
                                        <option value="Nota de créditos">Nota de crédito</option>
                                        
                                        <option value="Nota de débito">Nota de débito</option>
                                        
                                        <option value="Recibo de arrendamiento">Recibo de arrendamiento</option>
                                        
                                        <option value="Carta porte ingreso">Carta porte ingreso</option>
                                        
                                        <option value="Donativo">Donativo</option>
                                        
                                        <option value="Recibo de pago">Recibo de pago</option>
                                        
                                        <option value="Recibo notarial">Recibo notarial</option>
                                        
                                        <option value="INE">INE</option>
                                        
                                        <option value="Recibo de nómina 1.2">Recibo de nómina 1.2</option>
                                        
                                        <option value="Divisas">Divisas</option>
                                        
                                        <option value="Comercio Exterior">Comercio Exterior</option>
                                        
                                        <option value="Cotización">Cotización</option>
                                        
                                        <option value="Carta porte traslado">Carta porte traslado</option>
                                        
                                        <option value="17Recepción de pagos">Recepción de pagos</option>
                                        
                                        <option value="Servicios Parciales de Construcción">Servicios Parciales de Construcción</option>
                                        
                                        <option value="Pago en especie">Pago en especie</option>
                                        
                                        <option value="Enajenación de Obras de Artes Plásticas y Antigüedades">Enajenación de Obras de Artes Plásticas y Antigüedades</option>
                                        
                                        <option value="PF Integrante Coordinado">PF Integrante Coordinado</option>
                                        
                                        <option value="Aerolíneas">Aerolíneas</option>
                                        
                                        <option value="Carta Porte Ingreso 3.0">Carta Porte Ingreso 3.0</option>
                                        
                                        <option value="Carta Porte Traslado 3.0">Carta Porte Traslado 3.0</option>
                                        
                                        <option value="Vales de despensa">Vales de despensa</option>
                                        
                                        <option value="Certificado de destrucción">Certificado de destrucción</option>
                                        
                                        <option value="Vehículo usado">Vehículo usado</option>
                                        
                                        <option value="Factura de egreso">Factura de egreso</option>

                                        <option value="Traslado">Traslado</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select id="filtro_estado_id" class="form-control">
                                        <option value="">------</option>
                                        
                                        <option value="Error al timbrar">Error al timbrar</option>
                                        
                                        <option value="Pendiente de timbrar">Pendiente de timbrar</option>
                                        
                                        <option value="Comprobante timbrado satisfactoriamente">Correcto al timbrar</option>
                                        
                                        <option value="Error de cancelación">Error de cancelación</option>
                                        
                                        <option value="Pendiente de cancelación">Pendiente de cancelación</option>
                                        
                                        <option value="Correcta cancelación">Correcta cancelación</option>
                                        
                                        <option value="No requiere timbrado">No requiere timbrado</option>
                                        
                                        <option value="Pendiente de aceptación de cancelación">Pendiente de aceptación de cancelación</option>
                                        
                                        <option value="Cancelación rechazada">Cancelación rechazada</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label>Método de pago</label>
                                    <select id="filtro_forma_pago_id" class="form-control">
                                        <option value="">------</option>
                                        
                                        <option value="Pago en una sola exhibición">Pago en una sola exhibición</option>
                                        
                                        <option value="Pago inicial y parcialidades">Pago inicial y parcialidades</option>
                                        
                                        <option value="Pago en parcialidades o diferido">Pago en parcialidades o diferido</option>
                                        
                                    </select>
                                </div>
                            </div>
                        </div> 
                        
                
                    </div>
                    
                </div>
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa icon-invoice-b"></i>Comprobantes
            </div>
            <div class="actions">
                Seleccionar Todos<div class="checker" id="uniform-descargar_todos">
                    <span class="checked"><input type="checkbox" name="descargar_todos" id="descargar_todos"></span>
                </div>
                <a id="descarga_masiva" title="Descargar" class="btn btn-default btn-sm">Descargar</a>
                <a id="email_masivo" title="Email" class="btn btn-default btn-sm">E-mail</a>
                <a id="btn_exportar_excel" title="Exportar a excel" class="btn btn-default btn-sm">Exportar</a>
            </div>
            <div class="tools">
                <a class="collapse-btn" data-bs-toggle="collapse" href="#contenidoColapsabletable" role="button" aria-expanded="false" aria-controls="contenidoColapsable">
                    <i class="bi bi-chevron-down"></i> 
                </a>
            </div>
        </div>
        <div class="collapse show p-3" id="contenidoColapsabletable">
            <table id="comprobantes-table" class="display nowrap table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all"></th>
                        <th>Fecha</th>
                        <th>Folio</th>
                        <th>UUID</th>
                        <th>RFC</th>
                        <th>Nombre</th>
                        <th>Fecha Pago</th>
                        <th>Total</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comprobante in cl.result_list %}
                    <tr>
                        <td><input type="checkbox" class="select-checkbox"></td>
                        <td>{{ comprobante.fecha|date:"d-m-Y H:i" }}</td>
                        <td>{{ comprobante.folio }}</td>
                        <td>{{ comprobante.uuid }}</td>
                        <td>{{ comprobante.rfc }}</td>
                        <td>{{ comprobante.nombre }}</td>
                        <td>{{ comprobante.fecha_pago|date:"d-m-Y" }}</td>
                        <td>${{ comprobante.total }}</td>
                        <td>
                            <span class="badge bg-success" title="{{ comprobante.metodo_pago_desc }}">
                                {{ comprobante.metodo_pago }}
                            </span>
                            <span class="badge bg-secondary" title="{{ comprobante.forma_pago_desc }}">
                                {{ comprobante.forma_pago }}
                            </span>
                            <span class="badge bg-primary text-white" title="{{ comprobante.tipo }}"><i class="fa-solid fa-dollar-sign"></i></span>
                            {% if comprobante.cod_estatus == 'Error al timbrar' %}
                                <span class="badge bg-danger" title="{{ comprobante.cod_estatus }}"><i class="fas fa-triangle-exclamation"></i></span>
                            {% elif comprobante.cod_estatus == 'Correcta cancelación' or comprobante.cod_estatus == 'Pendiente de cancelación'%}
                                <span class="badge bg-danger" title="{{ comprobante.cod_estatus }}">
                                    <i class="fa-regular fa-square-check text-white"></i>
                                </span>
                            {% else %}
                                <span class="badge bg-success" title="{{ comprobante.cod_estatus }}"><i class="fa fa-check-circle text-white"></i></span>
                            {% endif %}
                            <span class="badge bg-primary text-white" title="CFDI: {{ comprobante.version_cfdi }}">{{ comprobante.version_cfdi }}</span>
                            
                        </td>
                        <td>
                            {% if comprobante.cod_estatus != 'Error al timbrar' %}
                                <a href="{% url 'admin:comprobante_generate_xml' comprobante.id %}" class="btn btn-sm btn-success" title="Descarga XML"><i class="fa fa-file-excel"></i></a>
                                {% if comprobante.cancelado %}
                                    <a href="{% url 'admin:comprobante_generate_xml_cancelado' comprobante.id %}" class="btn btn-sm btn-warning" title="Acuse XML"><i class="fa fa-file-code"></i></a>
                                {% endif %}
                                <a href="{% url 'admin:comprobante_generate_pdf' comprobante.id %}" class="btn btn-sm btn-danger" title="Acuse PDF"><i class="fa fa-file-pdf"></i></a>
                                {% comment %} <a href="{% url 'admin:getPDF' comprobante.id 2 %}" class="btn btn-sm btn-danger" title="Acuse PDF plantilla"><i class="fa fa-file-pdf"></i></a> {% endcomment %}
                                {% comment %} <a href="{% url 'mi_admin:comprobante_send_invoice_email' comprobante.id %}"  class="btn btn-sm btn-primary" title="Enviar por e-mail"><i class="fa fa-envelope"></i></a> {% endcomment %}
                                <button type="button" class="btn btn-sm btn-primary btn-enviar-email" data-url="{% url 'mi_admin:comprobante_send_invoice_multi_email' comprobante.id %}" title="Enviar a diferentes e-mails"><i class="fa fa-envelope"></i></button>
                                <a href="#" class="btn btn-sm btn-secondary btn-historial-cfdi"
                                    data-id="{{ comprobante.id }}"
                                    title="Historial de Cancelación">
                                    <i class="fa fa-history"></i>
                                </a>
                                <a class="btn btn-sm btn-dark" title="Registrar fecha de pago"><i class="fa fa-calendar"></i></a>
                                {% with cancelacion=comprobante.cancelaciones.first %}
                                    {% if not cancelacion or not cancelacion.cancelado %}
                                        <a href="#"
                                        class="btn btn-sm btn-outline-danger btn-cancelar-cfdi"
                                        data-id="{{ comprobante.id }}"
                                        title="Cancelar CFDI">
                                            <i class="fa fa-ban"></i>
                                        </a>
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                <a href="#" class="btn btn-sm btn-warning btn-editable"
                                    data-uuid="{{ comprobante.uuid }}"
                                    data-error="{{ comprobante.detallesError }}"
                                    title="Ver error">
                                    <i class="fa fa-bug"></i>
                                </a>
                                <a class="btn btn-sm btn-dark" title="Registrar fecha de pago">
                                    <i class="fa fa-calendar"></i>
                                </a>
                                <a href="{% url 'mi_admin:cfdi_comprobanteemitido_delete' comprobante.pk %}"
                                    class="btn btn-sm btn-danger btn-eliminar"
                                    data-id="{{ comprobante.id }}"
                                    title="Eliminar CFDI">
                                    <i class="fa fa-trash"></i>
                                </a>
                            {% endif %}
                        </td>                           
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Spinner oculto por defecto -->




    <!-- Modal Enviar CFDI por Email -->
    <div class="modal fade" id="modalEnviarCfdi" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enviar CFDI por email</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Correo electronico</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="emailInput" placeholder="correo@ejemplo.com">
                            <button type="button" class="btn btn-success" id="addEmailBtn">+Agregar</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correos a enviar CFDI</label>
                        <div id="emailsContainer" class="d-flex flex-wrap gap-2"></div>
                    </div>
                </div>
                 <div id="loadingSpinner" class="text-center my-3 d-none">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Enviando...</span>
                    </div>
                    <p class="mt-2">Enviando correos...</p>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="sendEmailsBtn">Enviar</button>
                </div>
            </div>
        </div>
       
    </div>


    
    <!-- Modal básico -->
    <div class="modal fade" id="modalCancelarCfdi" tabindex="-1" aria-labelledby="modalCancelarCfdiLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-white" style="background-color: #137aa7ff;">
                    <h5 class="modal-title text-white" id="modalCancelarCfdiLabel">Confirmar Cancelación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div id="datosComprobante">
                        <p><strong>UUID:</strong> <span id="modalUuid"></span></p>
                        <p><strong>Folio:</strong> <span id="modalFolio"></span></p>
                        <p><strong>Nombre:</strong> <span id="modalNombre"></span></p>
                        <p><strong>Total:</strong> <span id="modalTotal"></span></p>
                        <p><strong>Fecha:</strong> <span id="modalFecha"></span></p>
                    </div>
                </div>
                <form method="post" action="{% url 'cfdi:cancelar_comprobante' %}" id="formCancelarCfdi">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="uuid" value="">

                    <div class="mb-3">
                        <label for="motivoCancelacion" class="form-label">Motivo de cancelación</label>
                        <select name="motivo" id="motivoCancelacion" class="form-select" required>
                            <option value="">-- Selecciona un motivo --</option>
                            <option value="01">Comprobante emitido con errores con relación</option>
                            <option value="02">Comprobante emitido con errores sin relación</option>
                            <option value="03">No se llevó a cabo la operación</option>
                            <option value="04">Operación nominativa relacionada en una factura global</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="uuidSustitucion" class="form-label">Folio de sustitución (UUID)</label>
                        <input type="text" class="form-control" name="uuid_sustitucion" id="uuidSustitucion" placeholder="Escribe el UUID que sustituye este CFDI">
                    </div>

                    <input type="hidden" name="lat" id="latCancelar">
                    <input type="hidden" name="lon" id="lonCancelar">

                    <div class="modal-footer">
                        <button type="submit" class="btn text-white" style="background-color: #137aa7ff;">Cancelar CFDI</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Modal de Historial de Cancelación -->
    <div class="modal fade" id="modalHistorialCfdi" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Consultar historial de cancelación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <!-- Estado y Cancelable -->
                <div class="row mb-3">
                <div class="col-md-6">
                    <strong>Estado actual en el SAT:</strong>
                    <span id="histEstado" class="badge text-width"  style="padding: 5px 10px; background-color: #d43b15ff;">-</span>
                </div>
                <div class="col-md-6">
                    <strong>Cancelable:</strong>
                    <span id="histEstadoCancelacion" class="badge text-width" style="padding: 5px 10px; background-color: #137aa7ff;">-</span>
                </div>
                </div>

                <!-- Detalle de cancelación -->
                <h6>Detalle de cancelación</h6>
                <table class="table table-bordered small">
                <tbody>
                    <tr>
                    <th style="width: 40%">Inicio del proceso de cancelación</th>
                    <td id="histFechaInicio">-</td>
                    </tr>
                    <tr>
                    <th>Último intento de cancelación</th>
                    <td id="histFechaUltimo">-</td>
                    </tr>
                    <tr>
                    <th>Motivo</th>
                    <td id="histMotivo">-</td>
                    </tr>
                    <tr>
                    <th>Folio sustitución</th>
                    <td id="histSustitucion">-</td>
                    </tr>
                    <tr>
                    <th>Estado de la cancelación</th>
                    <td><span id="histDescripcion" class="badge text-white" style="background-color: #137aa7ff;">-</span></td>
                    </tr>
                </tbody>
                </table>

                <!-- CFDIs relacionados -->
                <h6>CFDIs relacionados</h6>
                <p class="small">Presione el botón Buscar para consultar los comprobantes relacionados.</p>
                <button type="button" class="btn btn-sm text-white" style="background-color: #137aa7ff;">
                <i class="fa fa-search"></i> Buscar
                </button>

                <hr>

                <!-- UUID, Folio, Nombre, Total -->
                <div class="row small">
                <div class="col-md-3"><strong>UUID:</strong> <span id="histUuid">-</span></div>
                <div class="col-md-3"><strong>Folio:</strong> <span id="histFolio">-</span></div>
                <div class="col-md-3"><strong>Nombre:</strong> <span id="histNombre">-</span></div>
                <div class="col-md-3"><strong>Total:</strong> <span id="histTotal">-</span></div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

            </div>
        </div>
    </div>

    <!-- Modal Detalles de Error CFDI -->
    <div class="modal fade" id="modalDetalleError" tabindex="-1" aria-labelledby="modalDetalleErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle del error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="alert" role="alert" style="
                    background-color: #fff3cd; 
                    color: #664d03;
                    border-left: 5px solid #ffcc00;
                    padding: 1rem;
                    border-radius: 0.25rem;
                ">
                <h5 class="mb-2">Errores del comprobante</h5>
                <p id="detalleErrorTexto" class="mb-0" style="white-space: pre-wrap;"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
            </div>
        </div>
    </div>







</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<!-- JS para DataTables Responsive -->
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>




<script>
    $(document).ready(function() {
        var table = $('#comprobantes-table').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            searching: false,
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fa fa-copy"></i> Copiar',
                    className: 'btn btn-secondary'
                },
                {
                    extend: 'excel',
                    text: '<i class="fa fa-file-excel"></i> Excel',
                    className: 'btn btn-success'
                },
                {
                    extend: 'pdf',
                    text: '<i class="fa fa-file-pdf"></i> PDF',
                    className: 'btn btn-danger'
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Imprimir',
                    className: 'btn btn-info'
                }
            ],
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ registros por página",
                info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }
        });

        // Seleccionar todos los registros
        $('#select-all').on('click', function(){
            $('.select-checkbox').prop('checked', this.checked);
        });
    });

    $('.btn-reset-filtro').on('click', function () {
        $('input, select').val('');
        $('#comprobantes-table tbody tr').show(); // si es sin AJAX
    });
    

    $('.btn-buscar-filtro').on('click', function () {
        var rfc = $('#filtro_receptor_rfc').val().toLowerCase();
        var nombre = $('#filtro_receptor_nombre').val().toLowerCase();
        var uuid = $('#filtro_uuid').val().toLowerCase();
        var metodo_pago = $('#filtro_metodo_pago_id').val().toLowerCase();
        var forma_pago = $('#filtro_forma_pago_id').val().toLowerCase();
        var tipo = $('#filtro_tipo_comprobante_fiscal_id').val().toLowerCase();
        var estado = $('#filtro_estado_id').val().toLowerCase();
        var serie = $('#filtro_serie').val().toLowerCase();
        var folio = $('#filtro_folio').val().toLowerCase();
    
        var fechaDesde = $('#filtro_fecha_desde').val();
        var fechaHasta = $('#filtro_fecha_hasta').val();
        var fechaDesdeDate = fechaDesde ? new Date(fechaDesde) : null;
        var fechaHastaDate = fechaHasta ? new Date(fechaHasta) : null;

        function parseFechaDDMMYYYY(fechaTexto) {
            var partes = fechaTexto.split(' ')[0].split('-'); // ["31", "03", "2025"]
            return new Date(`${partes[2]}-${partes[1]}-${partes[0]}`);
        }
        
    
        $('#comprobantes-table tbody tr').each(function () {
            var row = $(this);
            var match = true;
    
            if (rfc && !row.find('td:eq(4)').text().toLowerCase().includes(rfc)) {
                match = false;
            }
    
            if (nombre && !row.find('td:eq(5)').text().toLowerCase().includes(nombre)) {
                match = false;
            }
    
            if (uuid && !row.find('td:eq(3)').text().toLowerCase().includes(uuid)) {
                match = false;
            }
    
            if (metodo_pago && !row.find('td:eq(8) span[title]').filter(function () {
                return $(this).attr('title')?.toLowerCase().includes(metodo_pago);
            }).length) {
                match = false;
            }
    
            if (forma_pago && !row.find('td:eq(8) span[title]').filter(function () {
                return $(this).attr('title')?.toLowerCase().includes(forma_pago);
            }).length) {
                match = false;
            }
    
            if (tipo && !row.find('td:eq(8) span[title]').filter(function () {
                return $(this).attr('title')?.toLowerCase().includes(tipo);
            }).length) {
                match = false;
            }
    
            if (estado) {
                // Busca cualquier <span> en td:eq(8) que tenga el title igual al estado buscado
                var estadoMatch = false;
                row.find('td:eq(8) span[title]').each(function () {
                    if ($(this).attr('title')?.toLowerCase().includes(estado)) {
                        estadoMatch = true;
                    }
                });
                if (!estadoMatch) {
                    match = false;
                }
            }
    
            if (serie && !row.find('td:eq(2)').text().toLowerCase().includes(serie)) {
                match = false;
            }
    
            if (folio && !row.find('td:eq(2)').text().toLowerCase().includes(folio)) {
                match = false;
            }
    
            //FILTRO DE FECHA DE EMISIÓN (asumimos que está en td:eq(1))
            var fechaTexto = row.find('td:eq(1)').text().trim();
            var fechaRow = parseFechaDDMMYYYY(fechaTexto);

    
            if ((fechaDesdeDate && fechaRow < fechaDesdeDate) || (fechaHastaDate && fechaRow > fechaHastaDate)) {
                match = false;
            }
    
            // Muestra u oculta la fila según el match
            row.toggle(match);
        });
    });
    

</script>

{% comment %} Mostrar modal al hacer clic en el botón de cancelar CFDI {% endcomment %}
<script>
document.querySelector('table').addEventListener('click', function (e) {
    const boton = e.target.closest('.btn-cancelar-cfdi');
    if (!boton) return;

    e.preventDefault();
    const comprobanteId = boton.dataset.id;

    // Llamada al backend para obtener los datos
    fetch(`/cfdi/obtener_datos_cancelacion/${comprobanteId}/`)
        .then(response => {
            if (!response.ok) throw new Error("No se pudieron obtener los datos del CFDI.");
            return response.json();
        })
        .then(data => {
            const modal = document.getElementById('modalCancelarCfdi');
            if (!modal) return;

            // Rellenar los campos del modal
            modal.querySelector('#modalUuid').textContent = data.uuid || '';
            modal.querySelector('#modalFolio').textContent = data.folio || '';
            modal.querySelector('#modalNombre').textContent = data.nombre || '';
            modal.querySelector('#modalTotal').textContent = data.total || '';
            modal.querySelector('#modalFecha').textContent = data.fecha || '';

            // También actualizamos los campos del formulario oculto
            const inputUuid = modal.querySelector('input[name="uuid"]');
            const inputId = modal.querySelector('input[name="id"]');
            if (inputUuid) inputUuid.value = data.uuid;
            if (inputId) inputId.value = comprobanteId;

            new bootstrap.Modal(modal).show();
        })
        .catch(error => {
            console.error("❌ Error:", error);
            alert("No se pudieron cargar los datos del CFDI.");
        });
});
</script>



{% comment %} Mostrar modal al hacer clic en el botón de historial de CFDI {% endcomment %}
<script>
document.querySelector('table').addEventListener('click', function (e) {
    const boton = e.target.closest('.btn-historial-cfdi');
    if (!boton) return;

    e.preventDefault();
    const comprobanteId = boton.dataset.id;

    fetch(`/cfdi/obtener_cancelacion/${comprobanteId}/`)
        .then(response => {
            if (!response.ok) throw new Error("Error al obtener datos.");
            return response.json();
        })
        .then(data => {
            const modal = document.getElementById('modalHistorialCfdi');
            if (!modal) return;

            modal.querySelector('#histUuid').textContent = data.uuid || '';
            modal.querySelector('#histFolio').textContent = data.folio || '';
            modal.querySelector('#histNombre').textContent = data.nombre || '';
            modal.querySelector('#histTotal').textContent = data.total || '';
            modal.querySelector('#histFechaInicio').textContent = data.fecha_inicio || '';
            modal.querySelector('#histFechaUltimo').textContent = data.fecha_ultimo || '';
            modal.querySelector('#histEstado').textContent = data.estado_sat || '';

            if (modal.querySelector('#histEstadoCancelacion')) {
                modal.querySelector('#histEstadoCancelacion').textContent = data.estado_cancelacion || '';
            }
            if (modal.querySelector('#histMotivo')) {
                modal.querySelector('#histMotivo').textContent = data.motivo || '';
            }
            if (modal.querySelector('#histSustitucion')) {
                modal.querySelector('#histSustitucion').textContent = data.sustitucion || '';
            }
            if (modal.querySelector('#histEstadoSatColor')) {
                modal.querySelector('#histEstadoSatColor').className = data.estado_sat_color || '';
            }
            if (modal.querySelector('#histDescripcion')) {
                modal.querySelector('#histDescripcion').textContent = data.estado_cancelacion || '';
            }

            new bootstrap.Modal(modal).show();
        })
        .catch(error => {
            console.error(" Error al cargar datos del historial:", error);
            alert("No se pudo cargar el historial de cancelación.");
        });
});
</script>

{% comment %} Mostrar modal al hacer clic en el botón de detalles de error CFDI {% endcomment %}
<script>
document.querySelector('table').addEventListener('click', function (e) {
    const boton = e.target.closest('.btn-editable');
    if (!boton) return;

    e.preventDefault();

    const uuid = boton.dataset.uuid || 'Sin UUID';
    const error = boton.dataset.error || 'Sin detalles del error';

    const modal = document.getElementById('modalDetalleError');
    if (!modal) return;

    const uuidSpan = modal.querySelector('#errorUuid');
    const errorTexto = modal.querySelector('#detalleErrorTexto');

    if (uuidSpan) uuidSpan.textContent = uuid;
    if (errorTexto) errorTexto.textContent = error;

    new bootstrap.Modal(modal).show();
});
</script>





{% comment %} actualizar comprobantes cancelados {% endcomment %}
<script>
  window.addEventListener('DOMContentLoaded', function () {
    fetch("{% url 'cfdi:actualizar_estatus_cancelaciones' %}", {
        method: 'GET',
        headers: {'X-Requested-With': 'XMLHttpRequest'}
    }).then(r => r.json()).then(console.log);
  });
</script>

<script>
    function obtenerUbicacion(callback) {
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(
        (position) => {
            const lat = position.coords.latitude.toFixed(6);
            const lon = position.coords.longitude.toFixed(6);
            callback(lat, lon);
        },
        (error) => {
            console.warn("No se pudo obtener ubicación:", error);
            callback(null, null);
        },
        {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        }
        );
    } else {
        callback(null, null);
    }
    }

    // Al abrir el modal, precargar ubicación
    document.getElementById('modalCancelarCfdi').addEventListener('show.bs.modal', function () {
    obtenerUbicacion((lat, lon) => {
        document.getElementById("latCancelar").value = lat || "";
        document.getElementById("lonCancelar").value = lon || "";
    });
    });
</script>





<script>
let emailsSeleccionados = [];

document.addEventListener('click', function(e){
    const btn = e.target.closest('.btn-enviar-email');
    if(!btn) return;
    e.preventDefault();
    emailsSeleccionados = [];
    document.getElementById('emailsContainer').innerHTML = '';
    document.getElementById('emailInput').value = '';
    document.getElementById('sendEmailsBtn').dataset.url = btn.dataset.url;
    new bootstrap.Modal(document.getElementById('modalEnviarCfdi')).show();
});

document.getElementById('addEmailBtn').addEventListener('click', function(){
    const input = document.getElementById('emailInput');
    const email = input.value.trim();
    if(email){
        emailsSeleccionados.push(email);
        const span = document.createElement('span');
        span.className = 'badge bg-success';
        span.textContent = email;
        span.style.cursor = 'pointer';
        span.addEventListener('click', function(){
            emailsSeleccionados = emailsSeleccionados.filter(e => e !== email);
            span.remove();
        });
        document.getElementById('emailsContainer').appendChild(span);
        input.value = '';
    }
});

document.getElementById('sendEmailsBtn').addEventListener('click', function(){
    const url = this.dataset.url;
    const input = document.getElementById('emailInput');
    const email = input.value.trim();

    // Si el input tiene un correo que no se agregó aún, lo incluimos
    if(email && !emailsSeleccionados.includes(email)){
        emailsSeleccionados.push(email);
    }

    const emails = emailsSeleccionados.join(',');
    const spinner = document.getElementById('loadingSpinner');

    if (!emails) {
        alert("Debe ingresar al menos un correo electrónico.");
        return;
    }

    // Mostrar el spinner
    spinner.classList.remove('d-none');

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: new URLSearchParams({emails: emails}).toString()
    }).then(r => {
        if(r.ok){
            alert('Correos enviados correctamente');
        } else {
            alert('Error al enviar correos');
        }
        bootstrap.Modal.getInstance(document.getElementById('modalEnviarCfdi')).hide();
    }).catch(() => {
        alert('Error al enviar correos');
        bootstrap.Modal.getInstance(document.getElementById('modalEnviarCfdi')).hide();
    }).finally(() => {
        // Ocultar el spinner al terminar
        spinner.classList.add('d-none');
    });
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>


{% endblock extra_js %} 

