{% extends "LadoClientes/pages/base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>
        {% if info_fiscal.activo %}
            ¿Seguro que deseas desactivar este negocio?
        {% else %}
            ¿Seguro que deseas activar este negocio?
        {% endif %}
    </h1>
    <form method="post">
        {% csrf_token %}
        
        <!-- Información Fiscal -->
        <fieldset class="border p-3 mt-3" disabled>
            <legend class="w-auto px-2">Información Fiscal</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.nombre.label_tag }} {{ form.nombre }}
                    </div>
                    <div class="form-group">
                        {{ form.rfc.label_tag }} {{ form.rfc }}
                    </div>
                    <div class="form-group">
                        {{ form.curp.label_tag }} {{ form.curp }}
                    </div>
                    <div class="form-group">
                        {{ form.razon_social.label_tag }} {{ form.razon_social }}
                    </div>
                    <div class="form-group">
                        {{ form.regimen_fiscal.label_tag }} {{ form.regimen_fiscal }}
                    </div>
                    <div class="form-group">
                        {{ form.regimen_receptor.label_tag }} {{ form.regimen_receptor }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.imagen.label_tag }} {{ form.imagen }}
                    </div>
                    <div class="form-group form-check">
                        {{ form.confirmar_datos_cfdi }} {{ form.confirmar_datos_cfdi.label_tag }}
                    </div>
                    <div class="form-group form-check">
                        {{ form.ignorar_validacion_sociedad }} {{ form.ignorar_validacion_sociedad.label_tag }}
                    </div>
                </div>
            </div>
        </fieldset>
        
        <!-- Domicilio -->
        <fieldset class="border p-3 mt-3" disabled>
            <legend class="w-auto px-2">Domicilio</legend>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.calle.label_tag }} {{ form.calle }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.numero_exterior.label_tag }} {{ form.numero_exterior }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        {{ form.numero_interior.label_tag }} {{ form.numero_interior }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.colonia.label_tag }} {{ form.colonia }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.ciudad.label_tag }} {{ form.ciudad }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.municipio.label_tag }} {{ form.municipio }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form.estado.label_tag }} {{ form.estado }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.pais.label_tag }} {{ form.pais }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.codigo_postal.label_tag }} {{ form.codigo_postal }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.referencia.label_tag }} {{ form.referencia }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        {{ form.clave_pais.label_tag }} {{ form.clave_pais }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.residencia_fiscal.label_tag }} {{ form.residencia_fiscal }}
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Datos de Contacto -->
        <fieldset class="border p-3 mt-3" disabled>
            <legend class="w-auto px-2">Datos de Contacto</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.telefono.label_tag }} {{ form.telefono }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.correo_electronico.label_tag }} {{ form.correo_electronico }}
                    </div>
                </div>
            </div>
        </fieldset>

        <button type="submit" class="btn {% if info_fiscal.activo %}btn-danger{% else %}btn-success{% endif %} mt-3">
            {% if info_fiscal.activo %}Sí, desactivar{% else %}Sí, activar{% endif %}
        </button>
        <a href="{% url 'admin:cfdi_informacionfiscal_changelist' %}" class="btn btn-secondary mt-3">Cancelar</a>
    </form>
</div>
{% endblock %}
