{% extends "LadoClientes/layouts/base-auth.html" %}
{% load i18n static admin_material %}



{% block content %}
<main class="main-content mt-0">
  <div class="page-header align-items-start min-vh-100" style="background-image: url('{% static "fondo-pagina/fondo-cfdi.png" %}');">
    <span class="mask bg-gradient-dark opacity-4"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">CFDI pagina de facturación de negocios</h4>
              </div>
            </div>
            <div class="card-body">
              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <small class="text-danger mb-3">{{ error }}</small>
                {% endfor %}
              {% endif %}
              <form method="post" role="form" class="text-start">
                {% csrf_token %}
                <div class="input-group input-group-outline my-3">
                  <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de usuario</label>
                  <input 
                    type="text" 
                    class="form-control"
                    name="{{ form.username.name }}" 
                    id="{{ form.username.id_for_label }}">
                </div>
                <div class="input-group input-group-outline my-3">
                  <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña</label>
                  <input 
                    type="password" 
                    class="form-control"
                    name="{{ form.password.name }}" 
                    id="{{ form.password.id_for_label }}">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Entrar</button>
                </div>
              </form>
              <div>
               
                <a href="{% url 'cfdi:reset_password' %}" class="btn btn-primary w-100 my-4 mb-2">Olvidaste tu contraseña?</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer position-absolute bottom-2 py-2 w-100">
      <div class="container">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-12 col-md-6 my-auto">
            <div class="copyright text-center text-sm text-white text-lg-start">
              &copy; <a href="https://app-generator.dev" class="font-weight-bold text-white"> por TECHFIDG Solutions</a>.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const inputs = document.querySelectorAll(".input-group input");

    inputs.forEach(input => {
      const label = input.parentElement.querySelector("label");

      const toggleLabel = () => {
        if (input.value.trim() !== "") {
          label.style.visibility = "hidden"; // Esconde la etiqueta si hay texto
        } else {
          label.style.visibility = "visible"; // Muestra la etiqueta si está vacío
        }
      };

      // Aplica el evento al cargar la página y al escribir
      toggleLabel();
      input.addEventListener("input", toggleLabel);
    });
  });
</script>

<style>
  .form-label {
    transition: visibility 0.2s ease, opacity 0.2s ease;
  }
  .form-label[style*="visibility: hidden"] {
    opacity: 0; /* Hace que las etiquetas se desvanezcan */
  }

  a.btn.btn-primary.w-100.my-4.mb-2 {
    background-color: #367ad4;
}
</style>
{% endblock content %}

{% block extra_js %}
<script type="application/javascript">
  {% if form.username.errors %}
    notification.danger("{{ form.username.errors }}", 'top', 'right');
  {% endif %}
  {% if form.password.errors %}
    notification.danger("{{ form.password.errors }}", 'top', 'right');
  {% endif %}
</script>
{% endblock extra_js %}
