{% extends "LadoClientes/forms nomina/change_formnomina.html" %}
{% load admin_urls admin_modify %}


       {%block totales%}
                {% endblock %}


{% block Nomina %}
  <div class="col-md-12 mb-4">
    <div class="card shadow-sm border border-light">
      <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <strong class="mb-0">📦 Nómina</strong>
      </div>
      <div class="card-body" id="contenedor-nomina">
        {% if adminform.form.non_field_errors %}
          <div class="alert alert-danger">{{ adminform.form.non_field_errors }}</div>
        {% endif %}
        <div class="formulario-nomina mb-4 border rounded p-3">
          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.tipo_nomina.label_tag }}
              {{ adminform.form.tipo_nomina }}
              {{ adminform.form.tipo_nomina.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.numero_dias_pagados.label_tag }}
              {{ adminform.form.numero_dias_pagados }}
              {{ adminform.form.numero_dias_pagados.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.fecha_pago.label_tag }}
              {{ adminform.form.fecha_pago }}
              {{ adminform.form.fecha_pago.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.fecha_inicial_pago.label_tag }}
              {{ adminform.form.fecha_inicial_pago }}
              {{ adminform.form.fecha_inicial_pago.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.fecha_final_pago.label_tag }}
              {{ adminform.form.fecha_final_pago }}
              {{ adminform.form.fecha_final_pago.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.curp.label_tag }}
              {{ adminform.form.curp }}
              {{ adminform.form.curp.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.rfc_patron_origen.label_tag }}
              {{ adminform.form.rfc_patron_origen }}
              {{ adminform.form.rfc_patron_origen.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.origen_recurso.label_tag }}
              {{ adminform.form.origen_recurso }}
              {{ adminform.form.origen_recurso.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.entidad_sncf.label_tag }}
              {{ adminform.form.entidad_sncf }}
              {{ adminform.form.entidad_sncf.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.monto_recurso_propio.label_tag }}
              {{ adminform.form.monto_recurso_propio }}
              {{ adminform.form.monto_recurso_propio.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.rfc_trabajador.label_tag }}
              {{ adminform.form.rfc_trabajador }}
              {{ adminform.form.rfc_trabajador.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.curp_trabajador.label_tag }}
              {{ adminform.form.curp_trabajador }}
              {{ adminform.form.curp_trabajador.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.numero_empleado.label_tag }}
              {{ adminform.form.numero_empleado }}
              {{ adminform.form.numero_empleado.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.numero_seguro_social.label_tag }}
              {{ adminform.form.numero_seguro_social }}
              {{ adminform.form.numero_seguro_social.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.registro_patronal.label_tag }}
              {{ adminform.form.registro_patronal }}
              {{ adminform.form.registro_patronal.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.nombre.label_tag }}
              {{ adminform.form.nombre }}
              {{ adminform.form.nombre.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.apellido_paterno.label_tag }}
              {{ adminform.form.apellido_paterno }}
              {{ adminform.form.apellido_paterno.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.apellido_materno.label_tag }}
              {{ adminform.form.apellido_materno }}
              {{ adminform.form.apellido_materno.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.genero.label_tag }}
              {{ adminform.form.genero }}
              {{ adminform.form.genero.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.entidad_presto_servicio.label_tag }}
              {{ adminform.form.entidad_presto_servicio }}
              {{ adminform.form.entidad_presto_servicio.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.calle.label_tag }}
              {{ adminform.form.calle }}
              {{ adminform.form.calle.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.numero_exterior.label_tag }}
              {{ adminform.form.numero_exterior }}
              {{ adminform.form.numero_exterior.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.numero_interior.label_tag }}
              {{ adminform.form.numero_interior }}
              {{ adminform.form.numero_interior.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.colonia.label_tag }}
              {{ adminform.form.colonia }}
              {{ adminform.form.colonia.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.ciudad.label_tag }}
              {{ adminform.form.ciudad }}
              {{ adminform.form.ciudad.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.municipio.label_tag }}
              {{ adminform.form.municipio }}
              {{ adminform.form.municipio.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.estado.label_tag }}
              {{ adminform.form.estado }}
              {{ adminform.form.estado.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.pais.label_tag }}
              {{ adminform.form.pais }}
              {{ adminform.form.pais.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.c_CodigoPostal.label_tag }}
              {{ adminform.form.c_CodigoPostal }}
              {{ adminform.form.c_CodigoPostal.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.referencia.label_tag }}
              {{ adminform.form.referencia }}
              {{ adminform.form.referencia.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.clave_pais.label_tag }}
              {{ adminform.form.clave_pais }}
              {{ adminform.form.clave_pais.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.c_ResidenciaFiscal.label_tag }}
              {{ adminform.form.c_ResidenciaFiscal }}
              {{ adminform.form.c_ResidenciaFiscal.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.telefono.label_tag }}
              {{ adminform.form.telefono }}
              {{ adminform.form.telefono.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.correo_electronico.label_tag }}
              {{ adminform.form.correo_electronico }}
              {{ adminform.form.correo_electronico.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.fecha_inicio_relacion_laboral.label_tag }}
              {{ adminform.form.fecha_inicio_relacion_laboral }}
              {{ adminform.form.fecha_inicio_relacion_laboral.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.tipo_regimen.label_tag }}
              {{ adminform.form.tipo_regimen }}
              {{ adminform.form.tipo_regimen.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.departamento.label_tag }}
              {{ adminform.form.departamento }}
              {{ adminform.form.departamento.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.sindicalizado.label_tag }}
              {{ adminform.form.sindicalizado }}
              {{ adminform.form.sindicalizado.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.puesto.label_tag }}
              {{ adminform.form.puesto }}
              {{ adminform.form.puesto.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.riesgo_puesto.label_tag }}
              {{ adminform.form.riesgo_puesto }}
              {{ adminform.form.riesgo_puesto.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.tipo_contrato.label_tag }}
              {{ adminform.form.tipo_contrato }}
              {{ adminform.form.tipo_contrato.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.tipo_jornada.label_tag }}
              {{ adminform.form.tipo_jornada }}
              {{ adminform.form.tipo_jornada.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.salario_base.label_tag }}
              {{ adminform.form.salario_base }}
              {{ adminform.form.salario_base.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.salario_diario.label_tag }}
              {{ adminform.form.salario_diario }}
              {{ adminform.form.salario_diario.errors }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              {{ adminform.form.banco.label_tag }}
              {{ adminform.form.banco }}
              {{ adminform.form.banco.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.periodicidad.label_tag }}
              {{ adminform.form.periodicidad }}
              {{ adminform.form.periodicidad.errors }}
            </div>
            <div class="col-md-3 mb-3">
              {{ adminform.form.cuenta_bancaria.label_tag }}
              {{ adminform.form.cuenta_bancaria }}
              {{ adminform.form.cuenta_bancaria.errors }}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-end">
        <div class="submit-row">
          <button type="submit" name="_continue" class="btn btn-success btn-guardar-nomina">
            Guardar nómina
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}