{% extends "console/layout.html" %}

{% block content %}
<div class="global-container d-flex justify-content-center align-items-center">
    <div class="card login-form">
        <div class="card-body text-center">
            <h3 class="card-title text-success">Tu registro de usuario se activó de forma exitosa</h3>
            <p class="card-text">Por favor inicia sesión para continuar</p>
            <p class="card-text" style="font-size: 2em;">✅</p>
        </div>
    </div>
</div>
{% endblock %}
