<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: auto; padding: 20px; background-color: #f4f4f4;">
        <a class="navbar-brand" style="display: block; background-color: black; color: white; padding: 10px; text-align: center; text-decoration: none;">Factupid</a>
        <h2 style="color: #333;">{{ title }}</h2>
        <h3 style="color: #555;">{{ message }}</h3>
        <p style="color: #666;">Use this area to provide additional information.</p>

        <p style="color: #666;">prueba.</p>
        <img src="https://drive.google.com/uc?id=1gge1PhEt1QToS_qij9dk5TgDmvlV1P5t" alt="Imagen 1" style="max-width: 100%; height: auto;">
    <img src="https://drive.google.com/uc?id=1EPz19BFEEKocGGqSLV8pXW3skKFY9qqt" alt="Imagen 2" style="max-width: 100%; height: auto;">
    <img src="https://drive.google.com/uc?id=16mJXDvxtCWuVbHcEAgvPrAxsAbmwrCi6" alt="Imagen 3" style="max-width: 100%; height: auto;">
    <img src="https://drive.google.com/uc?id=1VT5fa2fco28RyHizxF8AJa0LZAaoSWaw" alt="Imagen 4" style="max-width: 100%; height: auto;">
    <img src="https://drive.google.com/uc?id=1G6FxXYGCwNvHSU9sGIkg5B97z_Tm2iL4" alt="Imagen 5" style="max-width: 100%; height: auto;">
    <img src="https://drive.google.com/uc?id=1HpUBr-MLkcqX7TRm3V_skRAuBioG7vSP" alt="Imagen 6" style="max-width: 100%; height: auto;">
        
    </div>
</body>
</html>