{% extends "console/layout.html" %}

{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_url "Inicio" "inicio" %}
    {% breadcrumb_url "Iniciar sesion" "iniciarsesion"  %}
    {% breadcrumb "Restauracion de contraseña"  %}
{% endblock %}


{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Restablecer Contraseña</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>

{% endblock %}
