{% extends "console/layout.html" %}
{% load breadcrumbs %}
{% block breadcrumbs %}
    {% breadcrumb_url "Inicio" "inicio" %}
    {% breadcrumb_url "Iniciar sesion" "iniciarsesion"  %}
    {% breadcrumb_url "Restauracion de contraseña" "reset_password"  %}
    {% breadcrumb "Reseteo enviado"   %}
    
    
   
{% endblock %}
{% block content %}

<div class="global-container d-flex justify-content-center align-items-center">
    <div class="card login-form">
        <div class="card-body text-center">
            <h3 class="card-title">Se ha enviado un correo </h3>
            <p class="card-text">Por favor revisa tu correo electrónico para resetear tu clave</p>
            <p class="card-text" style="font-size: 2em;">📧</p>
        </div>
    </div>
</div>

{% endblock %}
