{% extends 'body.html' %}
{% load widget_tweaks %}

{% block content %}


<div class="container mt-4"> 
       
    {% load invoice_breadcrumbs %}
    {% block invoice_breadcrumbs %}
    <nav class="fw-arial" aria-label="breadcrumb" style="background-color: #e3e4e5; padding: 5px; border-radius: 100px; display: inline-block;">
        {% breadcrumb_url "Inicio" "invoice:inicio" %}
        {% breadcrumb_url "Catálogo de Clientes" "invoice:client_list" %}
        {% breadcrumb "suspender" %}
        </nav>
       
       
    {% endblock %}
</div>

<br>

<form method="post" enctype="multipart/form-data" action="."  class="needs-validation" novalidate>
            <div class="card-body">
                {% csrf_token %}
                {% if object.estatus == 'A' %}
                <div class="alert alert-danger alert-dismissible">
                    <h5><i class="icon fas fa-ban"></i> Notificación!</h5>
                        ¿Estás seguro de suspender el cliente "{{ object.idCliente.nombre }}" con el ID {{ object.idCliente.id }}?
                </div>
                {% else %}
                <div class="alert alert-success alert-dismissible">
                    <h5><i class="icon fas fa-ban"></i> Notificación!</h5>
                        ¿Estás seguro de activar el cliente "{{ object.idCliente.nombre }}" con el ID {{ object.idCliente.id }}?
                </div>
                {% endif %}    
            </div>
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-plus"></i>
                        {{ title }}
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="{{ action }}">
                    {{ token_form.errors }}
                    <div class="container">
                        <div class="row">
                            {% if object.idCliente.nombre %}
                                <div class="col-md-6">
                                    <strong>Nombre:</strong> {{ object.idCliente.nombre }}
                                </div>
                            {% endif %}
                            {% if object.idCliente.email %}
                                <div class="col-md-6">
                                    <strong>Email:</strong> {{ object.idCliente.email }}
                                </div>
                            {% endif %}
                            {% if object.idCliente.rfc %}
                                <div class="col-md-6">
                                    <strong>RFC:</strong> {{ object.idCliente.rfc }}
                                </div>
                            {% endif %}
                            {% if object.estatus %}
                                <div class="col-md-6">
                                    <strong>Estatus:</strong>
                                    {% if object.estatus == 'A' %}
                                        <i class="fas fa-check-circle" style="color: green;"></i>
                                    {% else %}
                                        <i class="fas fa-times-circle" style="color: red;"></i>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" name="" class="btn btn-primary btn-flat">
                        <i class="fas fa-save"></i> Guardar registro
                    </button>
                    <a href="{{ list_url }}" class="btn btn-primary btn-flat">
                        <i class="fas fa-times"></i> Cancelar
                    </a>
                </div>
            </div>
        </form>

<script>
$('form').on('submit', function (e) {
    e.preventDefault();
    cargando()
    var formData = new FormData(this);
    $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: formData,
        processData: false,  // Tell jQuery not to process the data
        contentType: false,  // Tell jQuery not to set contentType
        dataType: 'json'
    }).done(function (data) {
        console.log(!data.hasOwnProperty('error'))
        if (!data.hasOwnProperty('error')) {
            window.location.href = '{{ list_url }}';
            return false;
        }
        message_error(data.error)
    }).fail(function (jqXHR, textStatus, errorThrown) {
        alert(textStatus + ': ' + errorThrown)
    }).always(function (data) {

    });
});


</script>
{% endblock %}