{% extends 'lista.html' %}




{% block columns %}



<tr>
    
    <th scope="col" style="width: 5%;">Nro</th>
    <th scope="col" style="width: 15%;">Nombre</th>
    <th scope="col" style="width: 20%;">Correo Electronico</th>
    <th scope="col" style="width: 20%;">RFC</th>
    <th scope="col" style="width: 10%;">Timbres</th>
    <th scope="col" style="width: 10%;">Estatus</th>
    <th scope="col" style="width: 20%;">Opciones</th>
</tr>


<div class="container mt-4">  <!-- Cambio aquí mt-5 a mt-4 -->
       
    {% load invoice_breadcrumbs %}
    {% block invoice_breadcrumbs %}
    <nav class="fw-arial" aria-label="breadcrumb" style="background-color: #e3e4e5; padding: 5px; border-radius: 100px; display: inline-block;">
        {% breadcrumb_url "Inicio" "invoice:inicio" %}
        {% breadcrumb "Catálogo de Clientes" %}
       </nav>
       
    {% endblock %}
</div>

<br>

{% endblock %}

{% block rows %}
    {% for c in client_list %}
    <tr>
        <td>{{ c.idCliente.id }}</td>
        <td>{{ c.idCliente.nombre }}</td>
        <td>{{ c.idCliente.email }}</td>
        <td>{{ c.idCliente.rfc }}</td>
        <td>
            {% if c.timbres_activos %}
                {% for timbre in c.timbres_activos %}
                    {% if timbre.isOnDemmand == True  %}
                        <p>Ilimitado</p>
                    {% else %}
                        <p>{{ timbre.stamp }}</p>
                    {% endif%}
                    
                {% endfor %}
            {% endif %}
        <td>
            {% if c.estatus == 'A' %}
                <i class="fas fa-check-circle" style="color: green;"></i>
            {% else %}
                <i class="fas fa-times-circle" style="color: red;"></i>
            {% endif %}
        </td>

        <td>
            {% if c.estatus == 'A' %}
                <a href="{% url 'invoice:cliente_estatus' c.id %}" class="btn btn-success btn-xs btn-flat">
                    <i class="fas fa-toggle-on" style="color: white;" title="Suspender Cliente"></i>
                </a>  
            {% else %}
                <a href="{% url 'invoice:cliente_estatus' c.id %}" class="btn  btn-danger btn-xs btn-flat">
                    <i class="fas fa-toggle-off" style="color: white;" title="Activar Cliente"></i>
                </a>  
            {% endif %}
            <a href="{% url 'invoice:cliente_update' c.idCliente.id %}" class="btn btn-warning btn-xs btn-flat"  title="Editar Cliente">
                <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'invoice:cliente_delete' c.idCliente.id %}" class="btn btn-danger btn-xs btn-flat"  title="Eliminar Cliente">
                <i class="fas fa-trash-alt"></i>
            </a>
            <a href="#" class="btn btn-light btn-xs btn-flat" onclick="loadTimbres({{ c.idCliente.id }}), setOtherId({{ c.idCliente.id }}, {{ c.id }})" data-bs-toggle="modal" data-bs-target="#timbresModal" title="Añadir o quitar timbres">
                <span style="position: relative;">
                    <i class="fas fa-plus" style="position: absolute; top: 0; left: 0;"></i>
                    <i class="fas fa-minus" style="position: absolute; top: 0; left: 0; transform: translate(10px, 10px);"></i>
                </span>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}

{% block modal %}

<div class="modal fade" id="timbresModal" tabindex="-1" aria-labelledby="timbresModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="timbresModalLabel">Timbres de Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="timbresTable" class="display">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 25%;">Fecha</th>
                            <th scope="col" style="width: 25%;">Stamps Disponibles</th>
                            <th scope="col" style="width: 25%;">Stamps Usados Totales</th>
                            <th scope="col" style="width: 25%;">Stamps Usados Hoy</th>
                        </tr>
                        </thead>
                        <tbody id="timbresTableBody">
                            <!-- Los datos se llenarán aquí dinámicamente -->
                        </tbody>
                </table>
                <form id="addTimbreForm">
                    <div class="mb-3">
                        <label for="facturas" class="form-label">Número de Facturas</label>
                        <input type="number" class="form-control" id="facturas" required>
                    </div>
                    <input type="hidden" id="userClienteId">
                    <input type="hidden" id="otherId">
                    <button type="submit" class="btn btn-primary">Agregar Timbre</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="application/javascript">

$(function () {
        $('#data').DataTable({
            responsive: true,
            autoWidth: false,
            dom: 'lBfrtip', // Necesario para mostrar los botones
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
// Función para cargar los datos de timbres
function loadTimbres(cliente_id) {
    fetch(`/invoice/clientes/timbres/${cliente_id}/`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const timbres = data.timbres || [];
            const tableBody = document.getElementById('timbresTableBody');

            // Limpiar el contenido actual
            tableBody.innerHTML = '';

            if (timbres.length === 0) {
                // Si no hay timbres, mostrar el mensaje
                tableBody.innerHTML = '<tr><td colspan="2">No hay timbres disponibles</td></tr>';
            } else {
                // Si hay timbres, mostrar los datos
                timbres.forEach(timbre => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${timbre.fecha}</td>
                        <td>${timbre.StampsDisponibles}</td>
                        <td>${timbre.StampsUsadosTotales}</td>
                        <td>${timbre.StampsUsadosHoy}</td>
                    `;
                    tableBody.appendChild(row);
                });
            }

            // Destruir la instancia existente de DataTables si la hay
            if ($.fn.DataTable.isDataTable('#timbresTable')) {
                $('#timbresTable').DataTable().clear().destroy();
            }

            // Re-inicializar DataTables
            if (timbres.length > 0) {
                $('#timbresTable').DataTable({
                    "paging": true,
                    "searching": false,
                    "info": false
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
}


// Manejador de evento para cerrar el modal
$('#timbresModal').on('hidden.bs.modal', function () {
    // Destruir la instancia de DataTables al cerrar el modal
    if ($.fn.DataTable.isDataTable('#timbresTable')) {
        $('#timbresTable').DataTable().destroy();
    }
});


document.getElementById('addTimbreForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevenir el envío por defecto del formulario
    cargando()
    const userClienteId = document.getElementById('userClienteId').value;
    const otherId = document.getElementById('otherId').value;
    const facturas = document.getElementById('facturas').value;

    // Asegúrate de que los valores no sean vacíos o inválidos
    if (!otherId || !facturas) {
        console.error('Error: userClienteId o facturas están vacíos');
        alert('Por favor, complete todos los campos.');
        return;
    }

    fetch('/invoice/clientes/timbres_Add/', { // La URL coincida con la definida en `urls.py`
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken') // Obtener el token CSRF
        },
        body: JSON.stringify({
            user_cliente: otherId,
            facturas: facturas
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            message_error(data.error)
        } else {
            console.log('Success:', data);
            console.log(userClienteId)
            loadTimbres(userClienteId); // Recargar los timbres
            // Opcional: cerrar el modal
            $('#timbresModal').modal('hide');
            window.location.href = '{{ list_url }}';
            return false;
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

// Función para obtener el token CSRF
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function setOtherId(clientId,id) {
    console.log(id)
    console.log(clientId)
    document.getElementById('userClienteId').value = clientId;
    document.getElementById('otherId').value = id; // Establece el valor en el campo oculto
}


</script>
{% endblock %}