{% extends 'tokens_form.html' %}

{% block custom_message %}
                <div class="card-body">
                    
                    <div class="container mt-4">  <!-- Cambio aquí mt-5 a mt-4 -->
                            
                        {% load invoice_breadcrumbs %}
                        {% block invoice_breadcrumbs %}
                        <nav class="fw-arial" aria-label="breadcrumb" style="background-color: #e3e4e5; padding: 5px; border-radius: 100px; display: inline-block;">
                            {% breadcrumb_url "Inicio" "invoice:inicio" %}
                            {% breadcrumb_url "Tokens de acceso" "invoice:list_token" %}
                            {% breadcrumb "Resetear token" %}
                        </nav>
                           
                        {% endblock %}
                    </div>
                    
                    <br>
                    {% csrf_token %}
                    <div class="alert alert-danger alert-dismissible">
                        <h5><i class="icon fas fa-ban"></i>Notificacion!</h5>
                        ¿Estas seguro de reset_token "{{ object.userName }}" con el ID. {{ object.id }} ?
                    </div>
                </div>
{% endblock custom_message %}